@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior:smooth;
}


body {
  font-family: 'Open Sans', sans-serif;
  background-color: #000;
  color: #e5e5e5;
  margin: 0 auto;
}


.header {
  position: fixed;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 12vw;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

.hidden {
  opacity: 0;
  filter: blur(8px);
  transform: translateX(-100%);
  transition: all 0.8s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.button {
  width: 50%;
  height: 4vw;
  margin: 25px 0;
  font-size: large;
  color: white;
  background-color: transparent;
  border: 2px solid yellow;
  border-radius: 5px;
}

.button a {
  color: white;
  text-decoration: none;
}

.button:hover {
  color: #555;
  background-color: yellow;
  width: 200px;
  transition: all 0.8s ease-in-out;
}

.button:hover a {
  text-decoration: none;
  transition: all 0.8s ease-in-out;
}

.button:not(:hover) {
  width: 100px;
  transition: all 0.8s ease-in-out;
}



.logo {
  position: absolute;
  background-image: url('./img/Black\ And\ White\ Modern\ Vintage\ Retro\ Brand\ Logo.png');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 10vw;
  width: 10vw;
  transition: all 0.3s ease-in-out;
}

.nav {
  position: fixed;
  right: 0;
}

.nav ul {
  position: relative;
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.nav ul li {
  padding: 15px;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-family: inherit;
  transition: all 0.3s ease-in-out;
}

.nav ul li a.current,
.nav ul li a:hover {
  color: rgb(227, 227, 21);
  font-weight: bold;
  cursor: pointer;
}


.nav ul li:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease-in;
}


.nav ul li:not(:hover){
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s ease-out;
}

.header.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  height: 7vw;
}

.header.active .logo {
  background-image: url('./img/Black\ And\ White\ Modern\ Vintage\ Retro\ Brand\ Logo\ -\ white\ version.png');
  height: 7vw;
  width: 7vw;
  margin: 0 20px;
}

.header.active ul li a {
  color: #000;
}

.header.active ul li a.current,
.header.active li a:hover {
  color: rgb(227, 227, 21);
  font-weight: bold;
}

.header.active {
  padding: 5px 0;
}

.hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  width: auto;
  color: #fff;
  display: flex;
  justify-content:center;
  align-items:center;
  overflow: hidden;
  margin: 0 auto;
}

.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}

.hero-index-image {
  background-image: url('img/content-1.png');
}

.hero-about-image {
  background-image: url('./img/White\ and\ Black\ Simple\ Lined\ White\ UI\ Blank\ Prototypes\ Website.png');
  height: 60vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero-video {
  width: 100%;
  height: auto;
  position: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  align-items: center;
  background-position: bottom center;
  overflow: hidden;
  padding: 120px;
}

.experience {
  background-color: #000;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: start;
  padding: 0 80px;
  margin: 0 auto;
  overflow: hidden;
  scroll-behavior: smooth;
}

.experience h1 {
  font-family: inherit;
  font-size: 650%;
  color: #fff;
}

.experience h2, h3 {
  font-size: large;
  margin: 20px 0;
  color: #fff;
}

.experience p {
  color: #fff;
  line-height: 30px;
  letter-spacing: 1.2px;
  max-width: 300px;
}

.experience:nth-child(2){
  transition-delay: 200ms;

}

.experience:nth-child(3){
  transition-delay: 400ms;
}


.experience-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 10px 30px;
  margin: 0 auto;
}

.experience-item h2,
.experience-item h3{
  color: #ffff00;
  font-size: 150%;
  margin: 10px 0;
}

.separator {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.content {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  align-items: start;
  background-color: #000;
  color: #fff; 
  padding: 85px;
  font-size: 30px;
}

.content p {
  color: #fff;
  line-height: 30px;
  letter-spacing: 1.2px;
  font-size: 65%;

}


.content h2,
.content h3 {
  font-size: 100%;
}

.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}


.philosophy {
  display: flex;
  flex-direction: row;
  height: 30vw;
  margin: 0 auto;
}

.philosophy-content {
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: #222;
  margin: 0 auto;
}

.philosophy-content h1 {
  font-size: 250%;
  font-weight: bolder;
  margin: 20px 55px; 
  color: #555;
}


.philosophy-content p {
  font-size: 100%;
  font-weight: bold;
  margin: 20px 55px; 
  color: #222;
}


.philosophy-photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

philosophy-photo {
  background-image: url('./img/hero-content-pic-1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 100%;
  margin: 0 auto;
}


.skills {
  background-color: #000;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items:center;
  justify-content:space-evenly;
  width: 100%;
  height: calc(100vw - 20%);
  margin: 10vw auto;
}


.skills-content {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: left;
  margin: 0 auto;
}

skills-logo {
  position: relative;
  background-image: url('./img/Black\ And\ White\ Modern\ Vintage\ Retro\ Brand\ Logo.png');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50px;
  width: 75px;
  margin-left: 55px;
  z-index: 1;
}

.skills-content h1 {
  font-size: 300%;
  margin: 20px 55px; 
  color: #fff;
}

.skills-content h2,
.skills-content h3{
  font-size: 150%;
  margin: 10px 55px; 
  color: #fff;
}

.skills-content p {
  color: #555;
  font-size: 120%;
  margin: 10px 55px; 
  line-height: 25px;
  letter-spacing: 2px;
}

.hide {
  visibility: collapse;
}

.projects {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 30px;
  overflow: hidden;
}


projects-header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  position: relative;
  left: -21%; /* Adjust left position as needed */
  color: white; 
}


projects-header h1 {
  font-size: 50px;
  max-width: 420px
}

projects-header p {
  font-size: 20px;
  color: #555;
}

.project-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:start;
  align-items: start;
  width: calc(100% - 62%);
  height: auto;
  padding: 10px; /* Add padding for spacing */
  border: 1px solid yellow;
  overflow: hidden;
}

.project-content h1 {
  font-size: 300%;
  margin: 20px 55px; 
  color: #fff;
}

.project-content h2,
.project-content h3{
  font-size: 120%;
  margin: 5px 0; 
  padding-top: 25px;
  color: #fff;
}

.project-content p {
  color: #555;
  font-size: 100%;
  margin: 20px 0; 
  line-height: 25px;
  letter-spacing: 1.2px;
}


project-content-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  top:0;
  z-index: 1;
}

.project-content:nth-child(odd){
  position: relative;
  left: -19%;
  top: 5%;
}

.project-content:nth-child(even){
  position: relative;
  right: -21%;
  bottom: 1%;
}

.project-content:not(:first-child) {
  /* Adjust margin-top for all project-content except the first one */
  margin-top: -250px; /* Decrease the value as needed */
}

.popup-button {
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  padding: 5px 12px;
  font-size: 30px;
  opacity: 0;
  transform: translate(60%,200%);
  transition: transform 0.6s ease-in-out;
  text-decoration: none;
}

.project-content:hover .popup-button {
  display: block;
  opacity: 1;
  transform: translate(0%,0%);
  transition: transform 0.6s ease-in-out;
}

.project-content:not(:hover) .popup-button {
  display: block;
  opacity: 1;
  transform: translate(60%,200%);
  transition: transform 0.6s ease-in-out;
}

.project-content:hover h2 {
  transition: transform 0.8s ease-in-out;
}

.amplifon-button {
  background-color: rgba(221, 19, 69, 0.891);
}

.ibm-button {
  background-color: #fff;
  color: #555;
}

.ora-button {
  background-color: red;
}

.digital-boite-button {
  background-color: #fff;
  color: #555;
}

.illy-button {
  background-color: red;
}


.ibm-project-background {
  height: 30vw;
  background-image: url('./img/ibm-logo.png');
}

.amplifon-project-background {
  height: 30vw;
  background-image: url('./img/Amplifon.jpg');
}

.ora-project-background {
  height: 30vw;
  background-image: url('./img/ora-image.png');
}

.digital-boite-project-background {
  height: 30vw;
  background-image: url('./img/digital-boite-content-2.jpeg');
}

.illy-project-background {
  height: 30vw;
  background-image: url('./img/Logo_Illy.svg.png');
}

.instagram {
  background-color: #fff;
  display: grid;
  grid-template-columns: calc(50%) auto;
  height: 70vh;
  margin: 150px auto;
}

.instagram-content {
  background-color: rgb(211, 187, 196);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: #222;
  margin: 0 auto;
  overflow: hidden;
}

.instagram-content h1 {
  font-size: 300%;
  margin: 20px 55px; 
  color: #222;
}


.instagram-content p {
  font-size: 120%;
  margin: 20px 55px; 
  color: #221e1e;
}

instagram-photo {
  background-image: url('./img/content-3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.insta-button {
  width: 50%;
  height: 4vw;
  margin: 50px;
  font-size: large;
  color: white;
  background-color: transparent;
  border: 3px solid rgb(78, 29, 78);
  border-radius: 5px;
}

.insta-button a {
  color: rgb(78, 29, 78);;
  text-decoration: none;
}

.insta-button:hover {  
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  width: 200px;
  transition: all 0.8s ease-in-out;
}

.insta-button:hover a {
  color:#fff ;
  text-decoration: none;
  transition: all 0.8s ease-in-out;
}

.insta-button:not(:hover) {
  width: 100px;
  transition: all 0.8s ease-in-out;
}


.testimonies {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5% 6%;
  width: 100%;
  height: 90vw;
  overflow: hidden;
}

.testimony-first-part {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  top: 0;
  left: 0;
  width: 60%;
  height: auto;
  color: #fff; 
  padding: 5% 6%;
  z-index: 2;
  overflow: hidden;
}

.testimony-first-part h2,
.testimony-first-part h3 {
  font-family: inherit;
  font-size: 300%;
}

.testimony-first-part p {
  letter-spacing: 1.5px;
  font-size: 100%;
  color: #555;
}

.testimony-second-part {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 50%;
  height: 70vw;
  padding: 5% 6%;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.testimony-second-part-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  width: 100%;
  height: 820px;
  padding:20px;
  margin: 60px;
  color: #fff;
  border: 1px solid #fff;
  opacity: 1;
  transition: opacity 0.5s;

}

testimony-photo {
  position: relative;
  background: url('./img/content-2.png') no-repeat center center;
  background-size: cover;
  height: 100vw;
  width: 70%;
  z-index: 1;
  border-radius: 50%;
}

.testimony-second-part-content h2,
.testimony-second-part-content h3 {
  font-family: inherit;
  font-size: 150%;
  padding: 50px;
}

.testimony-second-part-content p {
  letter-spacing: 1.2px;
  font-size: 130%;
  font-weight: bold;
  padding: 50px;
  color: #555;
}

.travel {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 30px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  font-family: inherit;
  overflow: hidden;
}

.travel h2 {
  font-style: bold;
  font-size: 300%;
  color: #fff;
  padding-left: 30px;
}

.travel p {
  color: #555;
  font-size: 100%;
  width: 55%;
  padding: 20px 30px;
}

travel-photos {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-left: 20px;
}

.travel-photo {
  background-image: url('./img/content-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 450px;
  margin: 10px;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 65vh;
  border-radius: 50px;
  border: 1px solid yellow;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}


.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}


.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.contact-intro {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align:start;
  width: 100%;
  height: auto;
  padding-left: 60px;
  bottom: 50px;
}

.contact-intro h1 {
  color: #fff;
  font-family: inherit;
  font-size: 50px;
  font-weight: bolder;
  padding: 10px;
}

.contact-intro p {
  color: #555;
  font-family: inherit;
  font-size: 20px;
  font-weight: normal;
  padding: 10px;
}

.contact-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 30px;
  overflow-x: hidden;
}

.contact-form p {
  color: #fff;
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}


input[type=text],input[type=email],select, textarea {
  background-color: #555;
  color: #fff;
  width: 100%; 
  padding: 12px;
  border: none;
  width: 100%;
  height: auto;
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

textarea {
  height:200px
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: yellow;
  color: #555;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
}

input[type=submit]:focus {
  outline: none;
}

input[type=text]:focus,input[type=email]:focus, select:focus, textarea:focus {
  outline: none;
  border: none;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  cursor: pointer;
  transform: scale(1.07);
  transition: transform 0.3s ease-in;
}


input[type=submit]:not(:hover){
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s ease-out;
}


.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  height: auto;
  background-image: url('./img/footer-background.svg');
  background-position: center center;
  background-size: cover;
}

.footer-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.footer-intro-top {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 40px;
}

.footer-intro-top h2 {
  color: #000;
  font-family: inherit;
  font-size: 60px;
  font-weight: bolder;
  padding: 20px 10px;
}


.footer-intro-bottom {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.footer-intro-bottom p {
  color: #000;
  font-family: inherit;
  font-size: 20px;
  font-weight: bolder;
  padding: 45px;
} 


.footer-intro-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30%;
  margin: 0 auto;
}

.footer-intro-nav a {
  margin-right: 5%;
  
}

.footer-intro-nav svg:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s ease-in;
}

.footer-intro-nav svg:not(:hover){
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s ease-out;
}

.footer-nav {
  display: flex;
  justify-content: center;
  text-align: start;
  width: 100%;
  padding: 100px;
}


.footer-nav ul {
  list-style-type:none;
  font-size: 35px;
  font-weight: bolder;
}

.footer-nav ul li {
  padding: 5px;
}

.footer-nav ul li:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: transform 0.3s ease-in;
}


.footer-nav ul li:not(:hover){
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s ease-out;
}


.footer-nav ul li a {
  text-decoration: none;
  color: #000;
}

.video {
  width: 100%; 
  height: auto;
}

.about {
  background-color: #f2eeee;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  width: 70%;
  height: auto;
  margin: 0 auto;
  padding: 40px;
}

.about-image {
  background-image: url('./img/Pastel\ Tones\ Landscape\ Drawing\ Phone\ Wallpaper.png');
  background-position: center center;
  background-size: cover;
  width: 70%;
  height: auto;
  margin: 50px;
  padding: 30px;
}

.about-content h2 {
  font-family: inherit;
  font-size: 270%;
  font-weight: bolder;
  letter-spacing: 1.2px;
  color: #000;
}

.about-content h3 {
  font-family: inherit;
  font-size: 150%;
  font-weight: bolder;
  letter-spacing: 1.2px;
  color: #000;
}

.about-content p {
  font-family: inherit;
  font-size: 120%;
  font-weight: normal;
  letter-spacing: 1.2px;
  line-height: 30px;
  padding: 15px 0;
  color: #555;
}


.project-detail{
    background-color: #edeeef;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: o auto;
  }

  .project-detail-hero {
    background-image: url('./img/White\ and\ Black\ Simple\ Lined\ White\ UI\ Blank\ Prototypes\ Website.png');
    height: 40vw;
    width: auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .project-detail-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    width: 50%;
    height: auto;
    padding: 25px;
    margin: 30px;
  }

  .project-detail-content h2 {
    font-family: inherit;
    font-weight: bolder;
    font-size: 250%;
    color: #000;
    padding: 25px 5px;
    max-width: 60%;
  }

  .project-detail-content p {
    font-family: inherit;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1.2px;
    color: #555;
    padding: 10px;
    max-width: 95%;
  }

  .project-detail-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    max-width: 80%;
    height: auto;
    width: 70%;
  }

  .project-detail-list:nth-child(2){
    transition-delay: 100ms;
  }

  .project-detail-list:nth-child(3) {
    transition-delay: 200ms;
  }

  .project-detail-list:nth-child(3){
    transition-delay: 300ms;
  }

  .project-detail-list:nth-child(4) {
    transition-delay: 400ms;
  }

  .project-detail-list:nth-child(5){
    transition-delay: 500ms;
  }

  .project-detail-list:nth-child(6) {
    transition-delay: 600ms;
  }



  .project-detail-logo {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 8vw;
    height: auto;
  }

  .lambda {
    padding: 10px;
  }

  .ts {
    padding: 10px;
  }

  .project-detail-image-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    width: 50%;
    height: auto;
    padding: 25px;
  }

  .project-detail-image-container p {
    font-family: inherit;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1.2px;
    color: #555;
    padding: 15px;
    max-width: 95%;
  }

  .project-detail-image-container a {
    text-decoration: none;
    color: #000;
    font-size: larger;
  }

  .project-detail-image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vw;
    width: 20vw;
  }

  .ora {
    background-image: url('./img/ora-image.png');
  }

  .amplifon {
    background-image: url('./img/Amplifon_logo.svg.png');
    height: 10vw;
    width: 42vw;
  }

  .digital-boite {
    background-image: url('./img/digital-boite-logo.jpeg');
    height: 18vw;
    width: 18vw;
    margin: 0 15px;
  }

  .illy{
    background-image: url('./img/Logo_Illy.svg.png');
    height: 18vw;
    width: 18vw;
    margin: 0 15px;
  }

  .ibm {
    background-image: url('./img/ibm-logo.png');
    height: 12vw;
    width:12vw;
    margin: 0 15px; 
  }

  .footer-image {
    background-image: url('./img/Business\ Continuity\ &\ Recovery\ Services\ -\ strategy.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 27vw;
    width: 100%;
  }
  
  .project-detail-footer {
    background-image: url('./img/Business\ Continuity\ &\ Recovery\ Services.png');
    height: 40vh;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }















  

@media(max-width:980px) {
  .logo {
    height: 10vw;
    width: 10vw;
  }
  
  .nav ul {
    flex-direction: row;
  }

  .nav ul {
    padding: 15px;
  }

  .nav ul li {
    padding: 0 5px;
  }

  .nav ul li a {
    font-size: 15px;
  }

  .hero {
    width: 100%;
    overflow: hidden;
  }
  
  .hero h1 {
    margin: 5px;
    font-size: 35px;
    margin: -20px 0 20px;
  }
  
  .hero p {
    margin: 5px;
    font-size: 15px;
    letter-spacing: 1px;
  }
  
  .button {
    margin: 5px;
    height: 7vw;
  }

  .button:hover  {
    color: #555;
  }

  .insta-button {
    height: 7vw;
  }

.experience {
    height: auto;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.experience-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0 2px;
  margin: 0 auto;
}


.philosophy {
  flex-direction: column;
  width: 100%;
  height: 120vw;
}

.philosophy-content {
  height: 70vw;
}

.philosophy-content h1 {
  width: 80%;
  font-size: 150%;
  margin: 20px 75px; 
}


.philosophy-content p {
  font-size: 100%;
  width: 70%;
  margin: 20px 75px; 
}

philosophy-photo {
  height: 60vw;
}


.skills {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.skills-content {
  width: 100%;
  height: auto;
  padding: 10px;
}

skills-logo {
  height: 100px;
  width: 150px;
  margin-left: 30px;
}


.skills-content h2,
.skills-content h3{
  font-size: 200%;
  margin: 10px 55px; 
  color: #fff;
}

.skills-content p {
  color: #555;
  font-size: 150%;
  margin: 25px 60px; 
  line-height: 30px;
  letter-spacing: 1.6px;
}


.projects {
  padding-top: 35%;
  margin: 0;
  padding: 40px;
  height: auto;
  text-align: start;
  overflow: hidden;
}

.project-content {
    width: 80%;
    height: auto;
}

project-content-img {
  position: relative;
  background-image: url('./img/content-2.png') no-repeat center center;
  background-size: cover;
  height: 45vw;
  max-width: 100%;
  top:0 ;
  z-index: 1;
}

.project-content h3{
  font-size: 100px;
}

.project-content p {
  font-size: 20px;
  line-height: 30px;
}

.project-content:nth-child(odd){
  position: relative;
  left: 0;
  right: 0;
  top: 0;
}

.project-content:nth-child(even){
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
}

.project-content:not(:first-child) {
  /* Adjust margin-top for all project-content except the first one */
  margin-top: 15px; /* Decrease the value as needed */
}

projects-header {
  justify-content: center;
  text-align: center;
  position: relative;
  top: 30px; /* Adjust top position as needed */
  left: calc(0%); /* Adjust left position as needed */
  color: white;
}

projects-header h1 {
  font-size: 30px;
  margin-bottom: 30px;
  max-width: 450px;
}

projects-header p {
  font-size: 15px;
  color: #555;
}

.ibm-project-background {
  height: 50vw;
  background-image: url('./img/ibm-logo.png');
}

.amplifon-project-background {
  height: 30vw;
  background-image: url('./img/Amplifon.jpg');
}

.ora-project-background {
  height: 60vw;
  background-image: url('./img/ora-image.png');
}

.digital-boite-project-background {
  height: 60vw;
  background-image: url('./img/digital-boite-content-2.jpeg');
}

.illy-project-background {
  height: 65vw;
  background-image: url('./img/Logo_Illy.svg.png');
}




.hide {
  height: 0;
}

.instagram {
  display: grid;
  grid-template-columns: auto;
  height: 100vh;
  overflow: hidden;
}

.instagram-content h1 {
  font-size: 300%;
  font-weight: bolder;
}


.instagram-content p {
  font-weight: bold;
  font-size: 120%;
}

.testimonies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
  margin: 0 auto;
}


.testimony-first-part {
  align-items: center;
position: relative;
width: 100%;
height: auto;
overflow-y:hidden;
}

.testimony-first-part h2,
.testimony-first-part h3 {
width: 100%;
font-family: inherit;
font-size: 40px;
}

.testimony-first-part p {
width: 100%;
letter-spacing: 1.5px;
font-size: 15px;
color: #555;
padding: 15px 0;
}

.testimony-second-part {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
height: auto;
overflow-y: hidden;
scroll-behavior:initial;
}

.testimony-second-part-content {
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
height: auto;
}

testimony-photo {
position: relative;
background: url('./img/content-2.png') no-repeat center center;
background-size: cover;
height: 40vw;
width: 60%;
z-index: 1;
}

.testimony-second-part-content h2,
.testimony-second-part-content h3 {
font-family: inherit;
font-size: 20px;
padding: 50px;
}

.testimony-second-part-content p {
letter-spacing: 1.2px;
font-size: 20px;
font-weight: bold;
padding: 50px;
color: #555;
}

.travel {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  font-family: inherit;
  overflow: hidden;
}

travel-photos {
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.travel p {
  font-size: 20px;
  width: 100%;
  padding: 15px 0;
}

.travel h2 {
  padding-left: 0;
}

.contact-container {
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  width: 100%;
  height: 145vh;
  overflow: hidden;
}

.contact-intro {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align:center;
  width: 80%;
  height: auto;
  margin-top: 100px;
  padding: 0;
}

.footer-container {
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.footer-intro {
  width: 70%;
  padding: 20px;
}

.footer-intro-top {
  padding: 50px;
}


.footer-intro-bottom {
  padding: 50px;
}

.footer-intro-bottom p {
  padding: 10px;
} 


.footer-intro-nav {
  padding-left: 12px;
}

.footer-nav {
  position: relative;
  padding: 72px;
}


.footer-nav ul {
  list-style-type:none;
  font-size: 25px;
  font-weight: bolder;
}

.footer-nav ul li {
  padding: 5px;
}

.footer-nav ul li:hover {
  position: relative;
  transform: scale(1.18) perspective(1px);
}

.project-detail{
  flex-direction: column;
  max-width: 100%;
}



/* New Part */


.project-detail-content {
  justify-content: center;
  align-items: center;
  text-align: start;
  width: 100%;
  height: auto;
  padding: 35px;
  margin: 0 auto;
}

.project-detail-content h2 {
  font-size: 25px;
  max-width: 100%;
}

.project-detail-content p {
  font-size: 20px;
  max-width: 100%;
}

.project-detail-list {
  max-width: 100%;
  height: auto;
}

.project-detail-logo {
  width: 10vw;
  height: auto;
}


.project-detail-image-container {
  width: 100%;
  padding: 35px;
  margin: 0;
}

.project-detail-image {
  margin: 20px;
}

.project-detail-image-container p {
  font-size: 20px;
  padding: 25px;
  max-width: 100%;
}

.hidden {
  transition: all 0.5s;
}

}

